<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--add key="AppName" value="UhdC1jzZ7Axw0VQmO6DQ19nCEYzHj8pmmzSZEj9+byWf/REtQV9TtQ=="/>
    <add key = "Modules" value="客户信息迁移;凭证迁移;导入凭证"/ -->
    <add key="AppName" value="UhdC1jzZ7Axw0VQmO6DQ19nCEYzHj8pmmzSZEj9+byWf/REtQV9TtQ=="/>
    <add key="Modules" value="客户信息迁移"/>
    <add key="FormStyle" value="Office2010Blue"/>
    <add key="NeedAutoUpdate" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>