<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Aohua.Test.AIS20110212144120" connectionString="gGxSu0Ol377UqZbjAHLLQsudzaT0kPNLaeLvmI0+15JVRZX6aaA09wKOw9WZ1f8yZEm7HaR9saibgB/qbRssoIGmw1Pxh5KY88OMrpwDNfA=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>