<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://101.37.152.138/huali/SystemUpdate.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="a.dll" lastver="5.0.0.1" size="22016" />
    <LocalFile path="b.dll" lastver="5.0.0.1" size="22016" />
  </UpdateFileList>
</Config>