<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
    add name="SQLConnectionString" connectionString="gGxSu0Ol377926SnLaic/uua093/8AaBELmR+/Ybc6VVKShiwNNpV6vJ976ZyAD3Im1FDTB0Qt0OCdsofvNLFMrvvLY+uWwlX3ZNAhncr7U=" 
         providerName="System.Data.SqlClient"/>
    -->
    <!--Data Source=.;Initial Catalog=AIS2011021244120-->
    <add name="FinSrc" connectionString="gGxSu0Ol377UqZbjAHLLQsudzaT0kPNLaeLvmI0+15JVRZX6aaA098OyyfMCdo02xZoWdD9rE4tkPdHHMB9U37MznNy5dYx0Fyll0173G14=" providerName="System.Data.SqlClient"/>
    <!--Data Source=.;Initial Catalog=AIS20110216123324-->
    <add name="K3Src" connectionString="gGxSu0Ol377UqZbjAHLLQsudzaT0kPNLaeLvmI0+15JVRZX6aaA09xXB28A/HcePqUMjvJjhTo6nCGR/vir5PcimZPwbpYhBmsWX+hu9QUk=" providerName="System.Data.SqlClient"/>
    <!--Data Source=.;Initial Catalog=AIS20171030161148-->
    <add name="K3Desc" connectionString="gGxSu0Ol377UqZbjAHLLQsudzaT0kPNLaeLvmI0+15LxvEq6Ma+AYjJTfLvCuIw9J+UEXbZOl8mcnFhP6x1pXuBeFj1XY2IlKEMkxdcj89Y=" providerName="System.Data.SqlClient"/>
    <!--Data Source=192.168.0.149;Initial Catalog=AIS20110212144120-->
    <add name="FinSrc1" connectionString="gGxSu0Ol377926SnLaic/qMOYncF9TLWOsVJL8XiFaOv9RajINhscVeZbE5rmXHqHZ0YgwsllctcukwutUNd08A/hLS4RnZGL6s4sSkucAgRTtqKZpLTtt7Enl/Rj4Rt" providerName="System.Data.SqlClient"/>
    <!--Data Source=192.168.0.149;Initial Catalog=AIS20110216123324-->
    <add name="K3Src1" connectionString="gGxSu0Ol377926SnLaic/qMOYncF9TLWOsVJL8XiFaOv9RajINhscVeZbE5rmXHqqD8sHb4jILtNILmzl5/b9RlF8oTxK6/8IWVWZPnZX7ZrfKJ9ZDQrMsq/V1g8kkwB" providerName="System.Data.SqlClient"/>
    <!--Data Source=192.168.0.241;Initial Catalog=AIS20171030161148-->
    <add name="K3Desc1" connectionString="gGxSu0Ol377926SnLaic/q3RBeAzc2CTBTb+he5twAjpuih03Pci9ylOTaCHOin1Ro9xa9QmKGx0j7H1EwmoEbYn6Yo9T9biSCbKXrHTDWq/+YB/VbXt4g==" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <!--add key="AppName" value="UhdC1jzZ7Axw0VQmO6DQ19nCEYzHj8pmmzSZEj9+byWf/REtQV9TtQ=="/>
    <add key = "Modules" value="ds9208;EDI;EDI2;ds9209;checkmailstate"/ -->
    <add key="AppName" value="UhdC1jzZ7Axw0VQmO6DQ19nCEYzHj8pmmzSZEj9+byWf/REtQV9TtQ=="/>
    <add key="Modules" value="VoucherUpguard;ds9209"/>
    <add key="FormStyle" value="Office2010Blue"/>
    <add key="Year" value="2017"/>
    <add key="NeedAutoUpdate" value="0"/>
  </appSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>